//-- Placeholder ---------------------------------------------------------- //

@mixin placeholder($val){
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: $val;
        opacity: 1;
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: $val;
        opacity: 1;
    }

    input::-moz-placeholder,
    textarea::-moz-placeholder{
        color: $val;
        opacity: 1;
    }

    input:-moz-placeholder,
    textarea:-moz-placeholder{
        color: $val;
        opacity: 1;
    }
}


//-- Prefix --------------------------------------------------------------- //

@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}


//-- Selector ------------------------------------------------------------- //


@mixin selectionColor($val){
    ::selection {
        background: $val;
    }
    ::-moz-selection {
        background: $val;
    }
}